@use './fonts' as f;
@use '../utils/mixins' as m;

ul {
    list-style: none;
}

a {
    color: inherit;
    width: fit-content;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    font-family:  f.$font-text;
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/images/bg.png);
    background-size: cover;
    color: white;
    overflow-x: hidden;
    // overflow: hidden;

  }

  button {
    cursor: pointer;
    border: none;
    background: none;
    font-family:  f.$font-text;
    color: rgb(255, 255, 255);
  }

  main {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
  }
  
  textarea {
    resize: none;
  }

  @media screen and (max-width: 1250px) {
   body {
    height: 100%;
    // padding-bottom: 20%;
   background-size: 230%;
   }
  }


  @media  screen and (max-width: 970px) {

    body {
        height: 100%;
        // padding-bottom: 20%;
        background-size: cover;
        // padding-bottom: 68px;
        }
    }

    
  @media  screen and (max-width: 510px) {
    body {
      background-size: 1000%;
    }
  }