@use '@/scss/base/variables' as v;
@use '@/scss/utils/mixins' as m;

.status-buttons {
    display: flex;
    max-width: 1060px;
    gap: 20px;

    >.status-button {
        width: 340px;
        height: 260px;
        @include m.dashboard-button;
        box-shadow: v.$home-buton-shadow;
        @include m.menu-button-bg(radial-gradient(circle at top right, rgb(255 147 15) 0%, rgba(165, 110, 58, 0.65) 36%, rgb(56 56 61 / 64%) 66%, rgba(50, 44, 49, 0.61) 85%, rgba(39, 26, 29, 0.8) 100%) padding-box);

        >.text-container {
            text-align: left;
        }

        >.icon {
            position: absolute;
            top: -18%;
            right: -13%;
            width: 235px;
        }

        >.text {
            text-align: left;
        }
    }


    >.-management {
        @include m.menu-button-bg(radial-gradient(circle at top right, rgb(255 147 15) 0%, rgb(131 81 55 / 65%) 36%, rgb(62 46 97 / 49%) 66%, rgb(79 42 109 / 31%) 85%, rgb(121 59 211 / 95%) 100%) padding-box);

       
    }


    >.-kpi {
        >.icon {
            top: -16%;
            right: -15%;
        }
    }

    >.-workplace {
        >.icon {
            top: -11%;
            right: -12%;
        } 
    }
}