@use '@/scss/base/variables' as v;
@use '@/scss/utils/mixins' as m;

.analytics-buttons {
    display: flex;
    max-width: 1060px;
    gap: 20px;

    >.analytics-button {
        width: 340px;
        height: 260px;
        @include m.dashboard-button;
        box-shadow: v.$home-buton-shadow;
        @include m.menu-button-bg(radial-gradient(circle at top right, rgb(71 191 177) 0%, rgba(39, 88, 88, 0.83) 36%, rgba(50, 54, 77, 0.69) 66%, rgba(49, 41, 63, 0.81) 85%, rgb(19, 47, 48) 100%) padding-box);

        >.text-container {
            text-align: left;
        }

        >.icon {
            position: absolute;
            top: -15%;
            right: -10%;
            width: 200px;
        }

        >.text {
            text-align: left;
        }

    }

    >.-monitoring {
        @include m.menu-button-bg(radial-gradient(circle at top right, rgb(68, 149, 140) 0%, rgba(43, 103, 111, 0.83) 36%, rgb(45 58 86 / 69%) 66%, rgb(72 46 93 / 81%) 85%, rgb(99 59 124) 100%) padding-box);
    }
  
}