.name-wrapper {
    align-self: flex-start;
    margin-bottom: 30px;
    height: 139px;
user-select: none;

    >.name-container {
        display: flex;
        align-items: center;
        gap: 30px;
    
        >.icon {
            width: 130px;
        }
    
        >.title {
            font-size: 40px;
        }
    }
   
}



@media  screen and (max-width: 1080px) {
    .name-wrapper {
        align-self: flex-start;
        margin-bottom: 6px;
        height: 100px;
    
        >.name-container {
            display: flex;
            align-items: center;
            gap: 20px;
        
            >.icon {
                width: 80px;
            }
        
            >.title {
                font-size: 20px;
            }
        }
       
    }
}