.name-wrapper {
    align-self: flex-start;
    margin-bottom: 30px;
    height: 139px;

    >.name-container {
        display: flex;
        align-items: center;
        gap: 30px;
    
        >.icon {
            width: 130px;
        }
    
        >.title {
            font-size: 40px;
        }
    }
   
}